.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
}

.footer a {
  color: #000;
}

.footer-text {
  text-align: center;
  vertical-align: middle;
}

.bi-suit-heart-fill {
  cursor: unset;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons svg {
  margin: 0 10px;
}

.bi-github {
  font-size: 22px;
}
