<!-- Inspired by  https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2 -->
<mat-toolbar fxLayoutAlign="space-between center" class="nav-header">
  <div class="logo-container">
    <a routerLink="/movies">
      <img src="assets/img/full_logo_small.png" alt="myFlix Logo" class="nav-logo">
    </a>
  </div>
  <div fxShow="true" fxHide.lt-md="true">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <a routerLink="/movies" mat-button>Movies</a>
    <a routerLink="/profile" mat-button>Profile</a>
    <button mat-flat-button color="primary" (click)="logOutUser()">Logout</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide="true" fxShow.lt-md="true">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <a routerLink="/movies" mat-button>Movies</a>
    <mat-divider></mat-divider>
    <a routerLink="/profile" mat-button>Profile</a>
    <mat-divider></mat-divider>
    <button mat-button (click)="logOutUser()">Logout</button>
  </mat-menu>
</mat-toolbar>