<div class="cards-container">
  <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card">
    <mat-card-header class="movie-header">
      <mat-card-title class="movie-title">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle class="movie-subtitle">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} class="movie-image">
    <mat-card-actions class="movie-actions">
      <button
        mat-button
        color="primary"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
      >
        Synopsis
      </button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>